/*
	OFDX SomeNotes
	mperron (2023)
*/

body {
	padding: 0;
	margin: 0;
}

.img_pixelated {
	image-rendering: pixelated;
}

#ofdx_notes_footer {
	position: absolute;
	bottom: 0;
	width: calc(100% - 2em);
	margin: 0 auto;
	text-align: center;
	background-color: lightgray;
	padding: 1em;
}

#notes_desktop {
	background-color: lightgreen;
	min-height: 768px;
}
#notes_apptray {
	display: inline-block;
	background-color: lightblue;
	width: 175px;
}

.notes_app_icon {
	text-align: center;
	margin: 2em 1em;
	user-select: none;
}
.notes_app_icon img {
	display: block;
	margin: 0 auto;
	width: 64px;
	padding: 0.5em;
}

.notes_app_icon:hover {
	text-decoration: underline;
	cursor: pointer;
}

.notes_app_icon:hover img {
	background-color: blue;
}