/*
	OFDX SomeNotes
	mperron (2023)
*/

body {
	padding: 0;
	margin: 0;
}

.img_pixelated {
	image-rendering: pixelated;
}

#notes_desktop {
	background-color: lightgreen;
	min-height: 768px;
}
#notes_apptray {
	background-color: lightblue;
}

.notes_app_icon {
  display: inline-block;

	margin: 0 1em;
  padding: 0.5em;
  height: 48px;

	text-align: center;
	user-select: none;
}
.notes_app_icon img {
	margin: 0 1em 0 0;
	height: 100%;
}
.notes_app_icon span {
  font-size: 175%;
}

.notes_app_icon:hover {
	background-color: #9fcedd;
	cursor: pointer;
}